## 1. Data Collection
Load the `Company.csv` file and inspect the structure.

In [1]:
import pandas as pd

# Load data
df_raw = pd.read_csv("../data/Company.csv")
df_raw.columns = df_raw.columns.str.strip()  # Strip column names
print(f"Total records: {len(df_raw)}")
df_raw.info()

Total records: 307
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 55 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   CompanyName                         307 non-null    object
 1   CompanyNumber                       306 non-null    object
 2   RegAddress.CareOf                   2 non-null      object
 3   RegAddress.POBox                    5 non-null      object
 4   RegAddress.AddressLine1             307 non-null    object
 5   RegAddress.AddressLine2             191 non-null    object
 6   RegAddress.PostTown                 254 non-null    object
 7   RegAddress.County                   108 non-null    object
 8   RegAddress.Country                  248 non-null    object
 9   RegAddress.PostCode                 304 non-null    object
 10  CompanyCategory                     306 non-null    object
 11  CompanyStatus                       306 non-null    object
 12  CountryOfOrigin                     305 non-null    object
 13  DissolutionDate                     2 non-null      object
 14  IncorporationDate                   305 non-null    object
 15  Accounts.AccountRefDay              301 non-null    float64
 16  Accounts.AccountRefMonth            302 non-null    object
 17  Accounts.NextDueDate                300 non-null    object
 18  Accounts.LastMadeUpDate             222 non-null    object
 19  Accounts.AccountCategory            306 non-null    object
 20  Returns.NextDueDate                 299 non-null    object
 21  Returns.LastMadeUpDate              101 non-null    object
 22  Mortgages.NumMortCharges            305 non-null    float64
 23  Mortgages.NumMortOutstanding        305 non-null    float64
 24  Mortgages.NumMortPartSatisfied      306 non-null    float64
 25  Mortgages.NumMortSatisfied          306 non-null    object
 26  SICCode.SicText_1                   305 non-null    object
 27  SICCode.SicText_2                   47 non-null     object
 28  SICCode.SicText_3                   22 non-null     object
 29  SICCode.SicText_4                   13 non-null     object
 30  LimitedPartnerships.NumGenPartners  305 non-null    object
 31  LimitedPartnerships.NumLimPartners  304 non-null    float64
 32  URI                                 304 non-null    object
 33  PreviousName_1.CONDATE              30 non-null     object
 34  PreviousName_1.CompanyName          30 non-null     object
 35  PreviousName_2.CONDATE              9 non-null      object
 36  PreviousName_2.CompanyName          9 non-null      object
 37  PreviousName_3.CONDATE              0 non-null      float64
 38  PreviousName_3.CompanyName          0 non-null      float64
 39  PreviousName_4.CONDATE              0 non-null      float64
 40  PreviousName_4.CompanyName          0 non-null      float64
 41  PreviousName_5.CONDATE              0 non-null      float64
 42  PreviousName_5.CompanyName          0 non-null      float64
 43  PreviousName_6.CONDATE              0 non-null      float64
 44  PreviousName_6.CompanyName          0 non-null      float64
 45  PreviousName_7.CONDATE              0 non-null      float64
 46  PreviousName_7.CompanyName          0 non-null      float64
 47  PreviousName_8.CONDATE              1 non-null      object
 48  PreviousName_8.CompanyName          0 non-null      float64
 49  PreviousName_9.CONDATE              0 non-null      float64
 50  PreviousName_9.CompanyName          0 non-null      float64
 51  PreviousName_10.CONDATE             1 non-null      object
 52  PreviousName_10.CompanyName         1 non-null      object
 53  ConfStmtNextDueDate                 303 non-null    object
 54  ConfStmtLastMadeUpDate              239 non-null    object
dtypes: float64(18), object(37)
memory usage: 132.0+ KB

## 2. Profiling
Basic data profiling to understand data types, nulls, and structure.

In [2]:
df_profile = df_raw.describe(include='all')
df_profile.head()

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
count,307,306,2,5,307,191,254,108,248,304,...,0.0,0.0,1,0.0,0.0,0.0,1,1,303,239
unique,300,290,2,2,264,156,168,48,12,242,...,NaN,NaN,1,NaN,NaN,NaN,1,1,224,180
top,BULLEN INVESTMENTS LIMITED,06590854,GW COX & CO,4385,9-11 DRAYTON HIGH ROAD,DRAYTON,NORWICH,NORFOLK,ENGLAND,NR8 6HA,...,NaN,NaN,19/02/2017,NaN,NaN,NaN,37/05/3035,13/05/3034,22/11/2024,27/01/2024
freq,2,2,1,4,4,11,16,14,138,6,...,NaN,NaN,1,NaN,NaN,NaN,1,1,4,3
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Cleansing
Remove rows with null company names or addresses.

In [3]:
# Preview records to be dropped
df_to_clean = df_raw[df_raw['CompanyName'].isnull() | df_raw['RegAddress.AddressLine1'].isnull()]
print("Records flagged for cleaning:")
display(df_to_clean)

# Drop them
df_cleaned = df_raw.dropna(subset=['CompanyName', 'RegAddress.AddressLine1']).copy()
print(f"Records after cleansing: {len(df_cleaned)}")

Records flagged for cleaning:

Empty DataFrame
Columns: [CompanyName, CompanyNumber, RegAddress.CareOf, RegAddress.POBox, RegAddress.AddressLine1, RegAddress.AddressLine2, RegAddress.PostTown, RegAddress.County, RegAddress.Country, RegAddress.PostCode, CompanyCategory, CompanyStatus, CountryOfOrigin, DissolutionDate, IncorporationDate, Accounts.AccountRefDay, Accounts.AccountRefMonth, Accounts.NextDueDate, Accounts.LastMadeUpDate, Accounts.AccountCategory, Returns.NextDueDate, Returns.LastMadeUpDate, Mortgages.NumMortCharges, Mortgages.NumMortOutstanding, Mortgages.NumMortPartSatisfied, Mortgages.NumMortSatisfied, SICCode.SicText_1, SICCode.SicText_2, SICCode.SicText_3, SICCode.SicText_4, LimitedPartnerships.NumGenPartners, LimitedPartnerships.NumLimPartners, URI, PreviousName_1.CONDATE, PreviousName_1.CompanyName, PreviousName_2.CONDATE, PreviousName_2.CompanyName, PreviousName_3.CONDATE, PreviousName_3.CompanyName, PreviousName_4.CONDATE, PreviousName_4.CompanyName, PreviousName_5.CONDATE, PreviousName_5.CompanyName, PreviousName_6.CONDATE, PreviousName_6.CompanyName, PreviousName_7.CONDATE, PreviousName_7.CompanyName, PreviousName_8.CONDATE, PreviousName_8.CompanyName, PreviousName_9.CONDATE, PreviousName_9.CompanyName, PreviousName_10.CONDATE, PreviousName_10.CompanyName, ConfStmtNextDueDate, ConfStmtLastMadeUpDate]
Index: []

[0 rows x 55 columns]

Records after cleansing: 307

## 4. Deduplication
Remove duplicated company names.

In [4]:
duplicates_found = df_cleaned.duplicated(subset='CompanyName').sum()
print(f"Duplicates found: {duplicates_found}")
df_cleaned = df_cleaned.drop_duplicates(subset='CompanyName')

Duplicates found: 7

## 5. Matching (Companies House API)
Check company names against the Companies House API.

In [ ]:
import requests
from time import sleep

API_KEY = "4b292a49-635f-4d2d-b38b-4ed1acfc4438"  # Replace this before running
def match_company(company_name):
    url = f"https://api.company-information.service.gov.uk/search/companies?q={company_name}"
    response = requests.get(url, auth=(API_KEY, ''))
    if response.status_code == 200:
        items = response.json().get('items', [])
        if items:
            return items[0].get('title'), items[0].get('company_number')
    return None, None

df_cleaned[['MatchedName', 'MatchedNumber']] = df_cleaned['CompanyName'].apply(
    lambda name: pd.Series(match_company(name))
)
sleep(1)

## 6. Enrichment
Add a flag indicating successful match.

In [ ]:
df_cleaned['IsMatched'] = df_cleaned['MatchedName'].notnull()
matched_count = df_cleaned['IsMatched'].sum()
enriched_count = matched_count  # assuming enrichment follows match
print(f"Matched records: {matched_count}")
print(f"Enriched records: {enriched_count}")

## 7. Reporting and Visualisation
Generate pie charts using plotly.

In [ ]:
import plotly.express as px

total_records = len(df_raw)
cleansed_records = len(df_cleaned)
duplicate_records = duplicates_found
matched_records = matched_count
enriched_records = enriched_count

# 1. Cleansed
fig1 = px.pie(names=["Cleansed", "Removed"], values=[cleansed_records, total_records - cleansed_records])
fig1.show()

# 2. Duplicates
fig2 = px.pie(names=["Unique", "Duplicates Removed"], values=[cleansed_records, duplicate_records])
fig2.show()

# 3. Matched
fig3 = px.pie(names=["Matched", "Unmatched"], values=[matched_records, cleansed_records - matched_records])
fig3.show()

# 4. Enriched
fig4 = px.pie(names=["Enriched", "Not Enriched"], values=[enriched_records, total_records - enriched_records])
fig4.show()

## 8. Presentation and Delivery
Summary of findings from all stages.

In [ ]:
print("Summary:")
print(f"Original Records: {total_records}")
print(f"After Cleansing: {cleansed_records}")
print(f"Duplicates Removed: {duplicate_records}")
print(f"Matched Records: {matched_records}")
print(f"Enriched Records: {enriched_records}")